.message
  .message__upper-info
    %p.message__upper-info__talker
      = message.user.name
    %p.message__upper-info__date
      = message.created_at.strftime("%y/%m/%d %H:%M")
  %p.message__text
    - if message.text.present?
      = message.text
    = image_tag message.image.url, class: 'message__image' if message.image.present?