%body
  .flash-box
  .wrapper
    .chat-side
      .side-header
        .side-header__box
          %p.side-header__box__user-name
            = current_user.name
          %ul.side-header__box__menu
            %li.side-header__box__menu__new-group
              =link_to "#", class: "side-header-btn side-header-btn--edit" do
                =fa_icon "edit", class: "side-header-btn--icon"
            %li.side-header__box__menu__edit-user
              =link_to edit_user_path(current_user) do
                =fa_icon "cog", class: "icon"
      .groups
        =link_to "#", class: "group" do
          .group
            %p.group__group-name
              tttest
            %p.group__latest-message
              test
    .chat-main
      .main-header
        .main-header__left-box
          %h2.main-header__left-box__current-group
            tttest
          %ul.main-header__left-box__member-list
            Member
            %li.main-header__left-box__member-list__member
        =link_to "#", class: "main-header" do
          .main-header__edit-btn Edit
      .messages
        .message
          .message__upper-info
            %p.message__upper-info__talker
              nabec
            %p.message__upper-info__date
              2019/07/12
          %p.message__text
            test
      .form
        %form.new_message#nex_message
          .input-box
            %input{ :class => "input-box__text", :placeholder => "type a message" }
            %label.input-box__image
              %i.fa.fa-image
              %input.input-box__image__file{ :type => "file"}
          %input{ :type => "submit", :class => "submit-btn", :value => "Send" }